.logo {
  display: block;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

.search-box img {
  display: flex;
  margin: 8px;
  height: 18px;
}

.micro {
  cursor: pointer;
}

.search-box {
  text-align: center;
  display: flex;
  min-width: 300px;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 5px;
}

.search-box:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.search {
  flex: 100%;
  outline: none;
  padding: 5px;
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  text-decoration: none;
  border: none;
  margin: 10px;
  color: #3c4043;
  cursor: pointer;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
}

.button:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}
