* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

footer {
  background-color: #f2f2f2;
  color: #70757a;
  position: fixed;
  bottom: 0; 
  width: 100%;
}

li {
  list-style: none;
}

@media screen and (max-width: 550px) {
  header {
    justify-content: space-around;
  }
}
